.App {
  text-align: left;
}
.box {
  position: absolute;
  cursor: move;
  color: black;
  background-color: white;
  max-width: 215px;
  overflow-wrap: break-word;
  border-radius: 5px;
  padding: 1em;
  margin: auto;
  user-select: none;
}

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: white;
}
#new-item {
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input {
  border-radius: 5px 0px 0px 5px;
  color: white;
  font-size: 1.3em;
  background-color: transparent;
  padding: 0.5em;
}

input:focus {
  outline: none;
}

button {
  cursor: pointer;
  background-color: gray;
  font-size: 1em;
  padding: 0.7em;
  border-radius: 0px 5px 5px 0px;
}

button:hover {
  background-color: rgb(173, 162, 162);
}

#delete {
  font-size: 0.6em;
  position: fixed;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
}

#delete:hover {
  color: rgb(255, 55, 55);
}

.vl {
  border-left: 6px solid white;
  height: 100%;
  z-index: 10;
  left:15%;
  position:fixed;
}

.v2 {
  border-left: 6px solid white;
  height: 100%;
  z-index: 10;
  left:45%;
  position:fixed;
}

.v3 {
  border-left: 6px solid white;
  height: 100%;
  z-index: 55;
  left:75%;
  position:fixed;
}

.sidenav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 2;
  /* background-color: #111; */
  padding-top: 120px;
  padding-left:10px;
}

.addScreen{
  z-index: 5;
  position:fixed;
  top:12%;
}
.importEnv{
  z-index: 5;
  position:fixed;
  top:2%;
}

.export{
  z-index: 5;
  position:fixed;
  top:2%;
  right:2%;
  width:9%;
  background-color:aliceblue;
}

.flow1{
  z-index: 5;
  position:fixed;
  top:12%;
  right:5%;
  width:20%;
  background-color:aliceblue;
}

.home-flow{
  z-index: 5;
  position:fixed;
  top:21%;
  right:5%;
  width:20%;
  background-color:aliceblue;
}

.home-navbar {
  height: 40px;
  width: auto;
}

.agent-status {
  width: 300px;
}

.side-menu {
  height: 450px;
}

.sticky-note {
  width: 100%;
  background: #282c34;
}

.imageSize {
  height: 450px;
}

.sidenavs {
  position: fixed;
  z-index: 1;
  background-color: #282c34;
  transition: 0.5s;
}

.dropdown{
  z-index: 5;
  position:fixed;
  top:11%;
  right:2%;
  width:9%;
  background-color:aliceblue;
}
 .dropdowns{
  z-index: 5;
  position:fixed;
  top:18%;
  right:2%;
  width:9%;
  background-color:aliceblue;
 }

.loginBtn button{
  padding: 4px;
  background-color: #007cbe;
  color: #ffff;
  font-size: 13px;
  width: 100%;
  border-radius: 4px;
}

.loginBtn  a{
  font-size: 12px;
}

.login{
    display: block;
    background: #fff;
    margin: 0 auto;
    width: auto;
    max-width: 480px;
    min-width: 170px;
    box-shadow: 0 11px 26px 5px rgb(31 50 77 / 30%);
    height: 450px;
    background-color:dodgerblue;
}

.ipTxt{
  color:#000;
  font-size:17px;
  max-height:10px;
}
.lightTheme{
  padding-right: 37px !important;
  background-color: whitesmoke;
}

.darkTheme{
  background-color:grey;
}

.orangeTheme {
  padding-right: 20px !important;
  background-color:rgb(235, 157, 13);
}

.blueTheme {
  padding-right: 43px !important;
  background-color:rgb(125, 60, 185);
}

.thmtxt{
  color:#000;
  font-size:17px;
  font-weight: bold;;
  max-height:10px;
  padding-left: 50px;
  padding-right: 40px;
}

.ipInput{
  border: 1px solid;
  color: grey;
  font-size: 14px;
  font-style: italic;
}




.outerLogin {
  padding:40px;
  background-color: #298fd8;
  height: 400px;
  width: 80%;
}

.innerLogin{  
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0 0px 4px 1px #000;
}

.limitWidth{
  max-width: 250px;
}

.paddingleft{
  padding-left:100px;
}

.incontact-img {
  height: 30px;
  width: 140px;
}

.cxone-img {
  height: 30px;
  width: 60px;
  margin-left: 10px;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 10%;
  height: 30px;
  background-color: blueviolet;
  text-align: center;
  line-height: 30px;
  color: white;
}

.progress-bar {
  position: absolute !important;
  width: 100% !important;
  max-width: 21rem;
  left: 38% !important;
  top: 50% !important;
}

.base{
  left: 0%; top: 0%;  position: absolute;
}

.disable-area{
  pointer-events: none;
  opacity: 0.4;
}

.progress-msg-position {
  position: relative;
  top: 2.7rem;
}

.upload{
  max-width: 1px;
  max-height: 1px;
}